include mixins/message

doctype 5
html
  head
    meta(charset='utf-8')
    title SourceDoc
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Document your code, continuously.')
    meta(name='author', content='usablica')

    link(href='/css/welcome.css', rel='stylesheet', type='text/css')
  head


body
  #header
      #logo
      #head-title
        h1 SourceDoc
        h2 Document your code, continuously
    #middle
      .midbar-mid
        a.btn.mid(href='/github_auth')
          strong Connect to github  ►
      .desc
        p
          | SourceDoc connects to your Github repository and automatically generate document from your code, after each commit.
        p
          | It's free,
          a(href='https://github.com/usablica/sourcedoc') open-source
          | and no complex configuration is required.
    #recommendation
      ul.shouts-list
        li.shout
          | Lorem ipsum dolor sit amet,
          a(href='http://sourcedoc.org/') SourceDoc
          | consectetur adipiscing elit. Sed laoreet orci sapien, sit amet placerat lectus.
          span.shout-source
            | —
            a(href='https://twitter.com/ehsaniaa') @ehsaniaa
        li.shout
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet orci sapien, sit amet placerat
          a(href='http://sourcedoc.org/') SourceDoc
          | lectus.
          span.shout-source
            | —
            a(href='https://twitter.com/afshinmeh') @afshinmeh
    footer
      | © SourceDoc | usabli.ca