include mixins/message

!!! 5
html
  head
    meta(charset='utf-8')
    title SourceDoc
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Document your code, continuously.')
    meta(name='author', content='')

    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:700,300,300italic', rel='stylesheet', type='text/css')
    link(href='/css/welcome.css', rel='stylesheet', type='text/css')
  head
  body
    #header
      #logo
      h1 SourceDoc
      h2 Document your code, continuously.
    #middle
      .m
        a.btn(href='/github_auth')
          strong Connect to github  ►
    #content
      ul#nav
        li.selected Home
        li Documents
        li Guide
        li About
        li FAQ
      #desc
        p
          em
            strong SourceDoc 
          | connects to your Github repository and automatically generate document from your code, after each commit. 
        p
          | It's 
          em Free 
          | , 
          em
            a(href='#') open-source 
          | and 
          em no complex configuration 
          | is required.
    footer
      | 2013 © usabli.ca