extends layout
include mixins/message

block content
  .span10
    mixin message(msg)

    .row-fluid
      .span10
        h2 Choose Repository
        if repos.length > 0
          each item, i in repos
            li= item.name
        else 
          p.text-error #{__('Woho! There\'s no repositry here, try to sync it with your Github.')} 
          a.btn.btn-success(href='/githubSync')
            i.icon-refresh.icon-white
            |  Sync it.