.hero-unit .hero-title {
	font-size: 45px;
	margin-bottom: 25px;
}
.hero-unit .hero-title span {
	color: gray;
	font-weight: normal;
}
.header-avatar {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}