/*
	Page defaults
*/
*{
	margin: 0px;
	padding: 0px
}
body{
	background-color: #fefefe;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #333;
}
/*
	screen size with more than 960px res
*/
@media all and (min-width: 960px){
	#middle, #recommendation{
		width: 960px;
	}
	#header{
		margin: 9em auto;
	}
		#head-title{
			display: inline-block;
			margin: 50px auto;
			padding-left: 16px;
		}
			#header h1{
				font-size: 5em;
			}
			#header h2{
				font-size: 1.575em;
			}
	.desc{
		width: 400px;
	}
	.shout {
		width: 40%;
		margin: 20px;
	}
}
/*
	screen size with less than 960px res
*/
@media all and (max-width: 959px){

	#middle, #recommendation, .shout{
		width: 100%;
	}
	#header{
		margin: 7em auto;
	}
		#head-title{
			display: block;
			margin: 0px auto;
			padding: 0;	
		}
			#header h1{
				font-size: 3em;
			}
			#header h2{
				font-size: 1.1em;
			}
	.desc{
		width: 50%;
	}
	.shout{
		width: auto;
		margin-left: 20px;
	}
}
/*
	common component for all reses
*/
@media all{
	#header{
		text-align: center;
		color: #736357;
		}
		#logo{
			color: transparent;
			width: 143px;
			height: 143px;
			margin: 30px auto;
			display: inline-block;
			background-image: url('/img/logo.png');
			}
		#head-title{
			vertical-align: top;
			padding-left: 16px;
			}
			#header h1{
				font-weight: normal;
				line-height: 1em;
				display: block;
				}
			#header h2{
				font-weight: normal;
				display: block;
				line-height: 1em;
				}
	#middle{
		margin: 0 auto;
		border-top: 1px solid rgb(185, 213, 98);
		background-color: rgb(236, 240, 205);
		padding: 27px 0;
		box-shadow: inset 0px 1px 3px #fff;
		border-radius: 20px 20px 0px 0px;
		border-bottom: 1px solid rgb(185, 213, 98);
		background-image: url('/img/bg.png');
		background-repeat: no-repeat;
		}
		.midbar-mid{
			margin: 50px auto;
			width: 200px;
			margin-top: -60px;
		}
		.desc{
			margin: 0em auto;
			color: #5d7357;
			border: 1px solid rgb(243, 240, 202);
			padding: 2em;
			box-shadow: 0px 3px 3px #bbb;
			border-radius: 14px;
			background-color: rgb(250, 250, 250);
		}
		.desc > p{
			font-size: 1.2em;
			margin-bottom: 1em;
			font-weight: normal;
		}
	#recommendation{
		margin: 0em auto;
		color: rgb(107, 107, 107);
		background-color: rgb(241, 245, 211);
		padding: 26px 0;
		box-shadow: inset 0px 1px 1px 0px #fff;
		box-shadow: inset 0px 1px 1px 0px #fff, 0px 2px 1px #ddd;
		border-radius: 0px 0px 20px 20px;
	}
		.shouts-list {
			padding: 0;
			margin: 0 auto;
			max-width: 1000px;
			list-style: none;
		}
			.shout:before{
			content: "“";
			position: absolute;
			top: 0px;
			left: 0px;
			vertical-align: top;
			font-family: Georgia,serif;
			font-size: 40px;
			color: rgba(0,0,0,0.15);
		}
			.shout {
				position: relative;
				display: inline-block;
				padding: 20px;
				margin: 20px;
				text-align: left;
				font-size: 16px;
				vertical-align: top;
			}
				.shout-source {
					display: block;
					margin-top: 10px;
					font-size: 14px;
					opacity: .5;
				}
	footer{
		width: 50%;
		margin: 4em auto;
		text-align: center;
		border-top: 1px solid #eee;
		color: #ccc;
		font-size: .75em;
	}

	.btn {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(121, 100, 47, 0.44);
		background-color: rgb(201, 161, 146);
		border-radius: 5px;
		padding: 20px;
		display: block;
		box-shadow: inset 0px 0px 1px 1px rgb(245, 206, 184), 0px 1px 2px rgb(201, 187, 152);
		border: 1px solid rgb(162, 156, 129);
	}
	.btn:hover{
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	  	background-color: rgb(221, 152, 126);
	}
	.btn:active{
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	  	background-color: rgb(175, 105, 79);
	}
	a{
		text-decoration: none;
		color: rgb(255, 51, 0);
		border-bottom: 1px solid rgb(243, 152, 152);
	}
	a:hover{
		color: #333;
		background-color: rgb(255, 246, 211);
		border-bottom: 1px solid transparent;
	}
	a:active{
		color: #333;
		background-color: transparent;
	}
}